/* * * Basics styles * * */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  width: 800px;
  background: transparent;
  padding: 50px 50px;
  position: relative;
  top: -230px;
}

/* * * Header Styles * * */
.wave {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

/* * * Container Styles * * */
button {
  margin: 25px 0;
  padding: 20px 40px;
  font-size: 1em;
  background-color: #000;
  color: #FFF;
  border: 2px solid;
  border-radius: 10px;
  outline: #09FBD3;
  transition: border .5s;
}

button:hover {
  border: 2px solid #09FBD3;
}

button:active {
  background-color: #09FBD3;
}

/* * * Footer Styles * * */
.page-foot {
  width: 100vw;
  height: 80vh;
  padding: 50px;
  color: #FFF;
  background-color: black;
}

/* form starting stylings */
.textBox {
  position: relative;
  margin-bottom: 50px;
}

input[type=text] {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 700px;
  border: none;
  border-bottom: 1px solid #757575;
}

input[type=text]:focus {
  outline: none;
}

/* LABEL */
label {
  color: #999;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

/* active state */
input[type=text]:focus~label,
input[type=text]:valid~label {
  top: -22px;
  font-size: 1.2em;
  color: #09FBD3;
}


/* BOTTOM BARS */
.bar {
  position: relative;
  display: block;
  width: 700px;
}

.bar:before,
.bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #09FBD3;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input[type=text]:focus~.bar:before,
input[type=text]:focus~.bar:after {
  width: 50%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .wave {
    position: relative;
    height: 400px;
    width: 120vw;
    overflow: hidden;
    z-index: -1;
    top: 0;
  }
}

/********** Medium devices only **********/
@media (max-width: 992px) {

  .wave {
    position: relative;
    height: 400px;
    width: 140vw;
    overflow: hidden;
    z-index: -1;
    top: 0;
  }

  .bar {
    position: relative;
    display: block;
    width: 600px;
  }

  input[type=text] {
    width: 600px;
  }

  .container {
    width: 700px;
  }
}

/********** Small devices only **********/
@media (max-width: 768px) {
  .wave {
    width: 160vw;
  }

  .bar {
    position: relative;
    display: block;
    width: 500px;
  }

  input[type=text] {
    width: 500px;
  }

  .container {
    width: 600px;
  }
}

/* * * Custom Scroll bar * * */

/* width */
::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 0 0 2px #888;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}