/* Basics styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header, footer, .container {
    padding: 0;
    margin: 0;
}

.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: inset 0 0 2px #888; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/* Header Styles */